*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('./font/Norse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('./font/Norsebold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family:'Arial', sans-serif;
}

.main {
    display: flex;
    width:100vw;
    height:100vh;
}

.sidebar {
    position:relative;
    background-image: url('./images/bg-image.jpg');
    background-size: cover;
    width: 40%;
    height: 100%;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 5.5rem;
    padding: 20px 0;
    margin-top: 135px;
}

.icon-container p {
    font-family: 'Norse', serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #fff;
}

.icon-container img {
    height: 4.5rem;
    width: auto;
}

.credits {
    position:absolute;
    bottom:20px;
    width:100%;
    text-align:center;
}

.credits p {
    color: #fff;
    font-size: 0.7rem;
}

.credits a {
    color: #fff;
    text-decoration: underline;
}

.container {
    display:flex;
    flex-direction:column;
    height:100vh;
    width:60%;
    position:relative;
    background-color:#f3f4f6;
}

.container .header-section, .container .form-section, .container .submission-section {
    padding-left: 30px;
}

.header-section {
    padding-top: 100px;
    height:35vh;
}

.header-section p {
    font-size:1.1rem;
    margin-bottom:15px;
    font-weight:bold;
    max-width:600px;
}

.form-section {
    width:100%;
    box-sizing: border-box;
    height:calc(100vh - 35vh -35vh);
    padding:15px 40px;
    padding-bottom:30px;
    align-content: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 -4px 6px -1px rgba(0, 0, 0, 0.05);
}

.form-section fieldset {
    display:grid;
    grid-template-columns: repeat(2, minmax(200px, 250px));
    gap:16px 50px;
    border: none;
    padding:0;
    margin:0;
    width: 100%;
}

.form-section fieldset > div {
    display: flex;
    flex-direction:column;
}

.form-section label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:0.6rem;
    font-weight:bold;
    letter-spacing: 1px;
}

.form-section input {
    margin-top:2px;
    width:250px;
    height: 27px;
    padding: 6px 10px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: 1px solid blue;
    border-color: blue;
}

#user_password:invalid,
#user_confirm-password:invalid {
  border-color: red;
}

#user_password:valid,
#user_confirm-password:valid {
  border-color: green;
}

.form-section legend {
    font-size:1.1rem;
    font-weight:bold;
    margin-bottom:20px;
}

.submission-section {
    padding-top: 25px;
    height:35vh;
}

.submission-section button {
    background-color: rgb(42, 103, 79);
    height:38px;
    width:185px;
    border:none;
    border-radius: 8px;
    color: white;
    font-weight:bold;
    margin-bottom:25px;
}

.submission-section p {
    font-size: 0.89rem;
}

.submission-section a {
    color: rgb(42, 103, 79);
    text-decoration: none;
    font-weight:bold;
}
