*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('./font/Norse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('./font/Norsebold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family:'Arial', sans-serif;
}

.main {
    display: flex;
    width:100vw;
    height:100vh;
}

.sidebar {
    background-image: url('./images/bg-image.jpg');
    background-size: cover;
    width: 40%;
    height: 100%;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 5.5rem;
    padding: 20px 0;
    margin-top: 135px;
}

.icon-container p {
    font-family: 'Norse', serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #fff;
}

.icon-container img {
    height: 4.5rem;
    width: auto;
}

.credits {
    position: absolute;
    bottom: 20px;
    left: 80px;
    color: #fff;
    font-size: 0.5rem;
}

.credits a {
    color: #fff;
    text-decoration: underline;
}